<h1 style="text-align: center">Contract List</h1>

<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
  <tr>
    <th>No.</th>
    <th>Facility</th>
    <th>Customer</th>
    <th>StartDate</th>
    <th>EndDate</th>
    <th>Deposit</th>
    <th>Total</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let contract of contractList; index as i">
    <td>{{i}}</td>
    <td>{{contract.facility.name}}</td>
    <td>{{contract.customer.name}}</td>
    <td>{{contract.startDate}}</td>
    <td>{{contract.endDate}}</td>
    <td>{{contract.deposit|currency: "$"}}</td>
    <td>{{contract.total|currency: "$"}}</td>
  </tr>
  </tbody>
</table>


<!--  <tbody>-->
<!--  <tr>-->
<!--    <td>1</td>-->
<!--    <td>01/06/2022</td>-->
<!--    <td>07/06/2022</td>-->
<!--    <td>200</td>-->
<!--    <td>1500</td>-->
<!--    <td>Huu Trung</td>-->
<!--    <td>Ho Thi Yen</td>-->
<!--    <td>Room Deluxe</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>2</td>-->
<!--    <td>01/06/2022</td>-->
<!--    <td>07/06/2022</td>-->
<!--    <td>200</td>-->
<!--    <td>1500</td>-->
<!--    <td>Grace</td>-->
<!--    <td>Phan Van Hung</td>-->
<!--    <td>Room Suite</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>3</td>-->
<!--    <td>01/06/2022</td>-->
<!--    <td>07/06/2022</td>-->
<!--    <td>200</td>-->
<!--    <td>1500</td>-->
<!--    <td>Khoa Pham</td>-->
<!--    <td>Ho Thi Yen</td>-->
<!--    <td>Room Luxury</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>4</td>-->
<!--    <td>01/06/2022</td>-->
<!--    <td>07/06/2022</td>-->
<!--    <td>200</td>-->
<!--    <td>1500</td>-->
<!--    <td>Tien Trung</td>-->
<!--    <td>Ho Thi Yen</td>-->
<!--    <td>Room Deluxe</td>-->
<!--  </tr>-->
<!--  </tbody>-->

