<h1 style="text-align: center">Contract List</h1>
<svg [routerLink]="['/contractCreate']" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
     class="bi bi-plus-square-fill" viewBox="0 0 16 16" style="background-color: white; color: #1c7430">
  <path
    d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
</svg>
<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
  <tr>
    <th>No.</th>
    <th>Facility</th>
    <th>Customer</th>
    <th>StartDate</th>
    <th>EndDate</th>
    <th>Deposit</th>
    <th>Total</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let contract of contractList; index as i">
    <td>{{i+1}}</td>
    <td>{{contract.facility.name}}</td>
    <td>{{contract.customer.name}}</td>
    <td>{{contract.startDate}}</td>
    <td>{{contract.endDate}}</td>
    <td>{{contract.deposit|currency: "$"}}</td>
    <td>{{contract.total|currency: "$"}}</td>
  </tr>
  </tbody>
</table>


