<h1 style="text-align: center">Customer List</h1>
<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
  <tr>
    <th>Stt</th>
    <th>Customer Code</th>
    <th>Name</th>
    <th>Type Customer</th>
    <th>Gender/Birth Date</th>
    <th>Id card</th>
    <th>Phone</th>
    <th>Address</th>
    <th colspan="3">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>KH-0001</td>
    <td>
      <div class="d-flex align-items-center">
        <img
          src="https://mdbootstrap.com/img/new/avatars/8.jpg"
          alt=""
          style="width: 45px; height: 45px"
          class="rounded-circle"
        />
        <div class="ms-3">
          <p class="fw-bold mb-1">Huu Trung</p>
          <p class="text-muted mb-0">huutrungg02@gmail.com</p>
        </div>
      </div>
    </td>
    <td>
      <span class="badge badge-success rounded-pill d-inline">Platinum</span>
    </td>
    <td>
      <p class="fw-normal mb-1">Male</p>
      <p class="text-muted mb-0">2002</p>
    </td>
    <td>191923459</td>
    <td>0345059222</td>
    <td>Hue</td>
    <td>
      <a class="btn btn-success" href="detailCustomer.html">Detail</a>
    </td>
    <td>
      <a class="btn btn-warning" href="editCustomer.html">Update</a>
    </td>
    <td>
      <a class="btn btn-danger" data-mdb-toggle="modal" data-mdb-target="#exampleModal"
         onclick="deleteModal(1,'Huu Trung')">
        Delete
      </a>
    </td>
  </tr>
  <tr>
    <td>2</td>
    <td>KH-0002</td>
    <td>
      <div class="d-flex align-items-center">
        <img
          src="https://mdbootstrap.com/img/new/avatars/6.jpg"
          class="rounded-circle"
          alt=""
          style="width: 45px; height: 45px"
        />
        <div class="ms-3">
          <p class="fw-bold mb-1">Grace</p>
          <p class="text-muted mb-0">grace.ray@gmail.com</p>
        </div>
      </div>
    </td>
    <td>
        <span class="badge badge-primary rounded-pill d-inline"
        >Silver</span
        >
    </td>
    <td>
      <p class="fw-normal mb-1">Female</p>
      <p class="text-muted mb-0">1995</p>
    </td>
    <td>123123123</td>
    <td>051141411</td>
    <td>London</td>
    <td>
      <a class="btn btn-success" href="detailCustomer.html">Detail</a>
    </td>
    <td>
      <a class="btn btn-warning" href="editCustomer.html">Update</a>
    </td>
    <td>
      <a class="btn btn-danger" data-mdb-toggle="modal" data-mdb-target="#exampleModal"
         onclick="deleteModal(2,'Grace')">
        Delete
      </a>
    </td>
  </tr>
  <tr>
    <td>3</td>
    <td>KH-0003</td>
    <td>
      <div class="d-flex align-items-center">
        <img
          src="https://mdbootstrap.com/img/new/avatars/7.jpg"
          class="rounded-circle"
          alt=""
          style="width: 45px; height: 45px"
        />
        <div class="ms-3">
          <p class="fw-bold mb-1">Kate Hunington</p>
          <p class="text-muted mb-0">kate.hunington@gmail.com</p>
        </div>
      </div>
    </td>
    <td>
      <span class="badge badge-warning rounded-pill d-inline">Gold</span>
    </td>
    <td>
      <p class="fw-normal mb-1">Female</p>
      <p class="text-muted mb-0">1992</p>
    </td>
    <td>12314594111</td>
    <td>068688554</td>
    <td>New York</td>
    <td>
      <a class="btn btn-success" href="detailCustomer.html">Detail</a>
    </td>
    <td>
      <a class="btn btn-warning" href="editCustomer.html">Update</a>
    </td>
    <td>
      <a class="btn btn-danger" data-mdb-toggle="modal" data-mdb-target="#exampleModal"
         onclick="deleteModal(1,'Kate Hunington')">
        Delete
      </a>
    </td>
  </tbody>
</table>
<!-- Delete Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Customer</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" action="@{/customer/delete}">
        <div class="modal-body">
          <input type="hidden" name="id" id="get-id">
          <h1 style="color: black" id="get-name">
            Name Customer:
          </h1>
          <hr>
          <p>Are You Sure ???</p>
          <p style="color: red">this action cant not revert</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger">Delete It !</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  function deleteModal(id, name) {
    document.getElementById("get-id").value = id;
    document.getElementById("get-name").innerText = name;
  }
</script>
