<form [formGroup]="addFacilityForm" (ngSubmit)="createFacility()">
  <fieldset class="w-75 mx-auto">
    <legend class="text-center my-4"><span class="text-secondary">ADD SERVICE</span></legend>
    <div class="form-outline w-25 mx-auto my-4">
      <input class="form-control" id="facilityCode" type="text" formControlName="code"/>
      <label class="form-label" for="facilityCode">Service Code</label>
      <p style="color: red" *ngIf="addFacilityForm.controls.code.hasError('required')
      && addFacilityForm.controls.code.touched ">this information cannot be left blank</p>
    </div>
    <div class="form-outline w-25 mx-auto my-4">
      <input class="form-control" id="name" type="text" formControlName="name"/>
      <label class="form-label" for="name">Service Name</label>
      <p style="color: red" *ngIf="addFacilityForm.controls.name.hasError('required')
      && addFacilityForm.controls.name.touched ">this information cannot be left blank</p></div>
    <div class="form-outline w-25 mx-auto my-4">
      <input class="form-control" id="serviceArea" type="text" formControlName="area"/>
      <label class="form-label" for="serviceArea">Area</label>
      <p style="color: red" *ngIf="addFacilityForm.controls.area.hasError('required')
      && addFacilityForm.controls.area.touched ">this information cannot be left blank</p></div>
    <div class="form-outline w-25 mx-auto my-4">
      <input class="form-control" id="serviceCost" type="text" formControlName="cost"/>
      <label class="form-label" for="serviceCost">Cost</label>
      <p style="color: red" *ngIf="addFacilityForm.controls.cost.hasError('required')
      && addFacilityForm.controls.cost.touched ">this information cannot be left blank</p></div>
    <div class="form-outline w-25 mx-auto my-4">
      <input class="form-control" id="serviceMaxPeople" type="text" formControlName="maximumPeople"/>
      <label class="form-label" for="serviceMaxPeople">Capacity</label>
      <p style="color: red" *ngIf="addFacilityForm.controls.maximumPeople.hasError('required')
      && addFacilityForm.controls.maximumPeople.touched ">this information cannot be left blank</p></div>
    <div class="form-outline w-25 mx-auto my-4">
      <input class="form-control" id="standardRoom" type="text" formControlName="roomStandard"/>
      <label class="form-label" for="standardRoom">Standard</label>
      <p style="color: red" *ngIf="addFacilityForm.controls.roomStandard.hasError('required')
      && addFacilityForm.controls.roomStandard.touched ">this information cannot be left blank</p></div>
    <div class="form-outline w-25 mx-auto my-4">
      <input class="form-control" id="descriptionOtherConvenience" type="text" formControlName="description"/>
      <label class="form-label" for="descriptionOtherConvenience">Other Convenience</label>
      <p style="color: red" *ngIf="addFacilityForm.controls.description.hasError('required')
      && addFacilityForm.controls.description.touched ">this information cannot be left blank</p></div>
    <div class="form-outline w-25 mx-auto my-4" id="input-pool">
      <input class="form-control" id="pool" type="text" formControlName="poolSquare"/>
      <label class="form-label" for="pool">Pool Area</label>
      <p style="color: red" *ngIf="addFacilityForm.controls.poolSquare.hasError('required')
      && addFacilityForm.controls.poolSquare.touched ">this information cannot be left blank</p></div>
    <div class="form-outline w-25 mx-auto my-4" id="input-floors">
      <input class="form-control" id="numberOfFloors" type="text" formControlName="numberFloor"/>
      <label class="form-label" for="numberOfFloors">Number Of Floors</label>
      <p style="color: red" *ngIf="addFacilityForm.controls.numberFloor.hasError('required')
      && addFacilityForm.controls.numberFloor.touched ">this information cannot be left blank</p></div>
    <div class="form-group row">
      <label for="facilityTypeId" class="col-sm-3 col-form-label">Service type</label>
      <div class="col-sm-9">
        <select id="facilityTypeId"
                class="form-control"
                formControlName="facilityType">
          <option value="">Select Facility type</option>
          <option *ngFor="let facilityType of facilityTypes" [ngValue]="facilityType">
            {{facilityType.facilityType}}
          </option>
        </select>
      </div>
      <p style="color: red" *ngIf="addFacilityForm.controls.facilityType.hasError('required')
      && addFacilityForm.controls.facilityType.touched ">this information cannot be left blank</p></div>
    <div class="form-group row">
      <label for="rentTypeId" class="col-sm-3 col-form-label">Rent type</label>
      <div class="col-sm-9">
        <select id="rentTypeId"
                class="form-control"
                formControlName="rentType">
          <option value="">Select rent type</option>
          <option *ngFor="let rentType of rentTypes" [ngValue]="rentType">
            {{rentType.rentType}}
          </option>
        </select>
      </div>
      <p style="color: red" *ngIf="addFacilityForm.controls.rentType.hasError('required')
      && addFacilityForm.controls.rentType.touched ">this information cannot be left blank</p></div>
  </fieldset>
  <div class="text-center">
    <button type="submit" class="btn btn-secondary mt-4 mx-2">ADD</button>
    <a [routerLink]="['/facilityList']">
      <button type="button" class="btn btn-primary mt-4 mx-2">Cancel</button>
    </a>
  </div>
</form>
