<p >color picker!</p>

<h1 [ngStyle]="{'color': color}" >TRAN VAN HUU TRUNG</h1>

<hr>
<button (click)="changeColor('red')" id="hinh_tron_do"> </button>
<button (click)="changeColor('yellow')" id="hinh_tron_vang"> </button>
<button (click)="changeColor('blue')" id="hinh_tron_xanh"> </button>
<hr>
<button (click)="changeColor('green')" id="hinh_tron_xanh_la"> </button>
<button (click)="changeColor('orange')" id="hinh_tron_cam"> </button>
<button (click)="changeColor('aqua')" id="hinh_tron_aqua"> </button>
<hr>

