<!--<h1 style="text-align: center">Facility List</h1>-->
<section class="ftco-section bg-light">
  <div class="container">
    <div class="row">

          <div class="card col-3" *ngFor="let facility of facilityList" >
            <img src="{{facility.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{facility.name}}</h5>
              <p style="font-weight: bold; color: #0062cc"><span class="price mr-2" style="font-size: large">{{facility.cost | currency}}</span> <span class="per">per night</span></p>
            </div>
            <ul class="list">
              <li><span>Max:</span> {{facility.maximumPeople}} Persons</li>
              <li><span>Size:</span> {{facility.area}} m2</li>
              <li><span>Rent Type:</span> {{facility.rentType.rentType}}</li>
            </ul>
            <div class="card-body">
              <a class="btn btn-warning mx-2" href="editFacilities.html">Update</a>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteModal" value="{{facility.name}}">
                Delete
              </button>
            </div>
          </div>
        </div>

  </div>
</section>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Facility</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="hidden" name="id" id="get-id">
                  <h1 style="color: black" id="get-name">
                    Name Facilities:
                  </h1>
                  <hr>
                  <p>Are You Sure ???</p>
                  <p style="color: red">this action cant not revert</p>
                </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Delete!</button>
      </div>
    </div>
  </div>

<script>
  function deleteModal(id, name) {
    document.getElementById("get-id").value = id;
    document.getElementById("get-name").innerText = name;
  }
</script>





